In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dados.csv')

In [3]:
df

   Unnamed: 0    a    b  c
0           1  1.0  4.0  3
1           2  3.0  NaN  3
2           3  NaN  4.0  3

<h2> Pandas automaticamente já retira o valor Missing para realizar os cálculos estatísticos básicos </h2>

In [4]:
df.describe()

       Unnamed: 0         a    b    c
count         3.0  2.000000  2.0  3.0
mean          2.0  2.000000  4.0  3.0
std           1.0  1.414214  0.0  0.0
min           1.0  1.000000  4.0  3.0
25%           1.5  1.500000  4.0  3.0
50%           2.0  2.000000  4.0  3.0
75%           2.5  2.500000  4.0  3.0
max           3.0  3.000000  4.0  3.0

<h2> Numpy já desconsidera o valor Missing automaticamente também </h2>

In [5]:
np.mean(df.a)

2.0