In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('laranja.csv')

In [10]:
df.head()

   Unnamed: 0  Tree   age  circumference
0           1     1   118             30
1           2     1   484             58
2           3     1   664             87
3           4     1  1004            115
4           5     1  1231            120

In [11]:
df.mean(axis=0)

Unnamed: 0        18.000000
Tree               3.000000
age              922.142857
circumference    115.857143
dtype: float64

In [12]:
df.sum(axis=0)

Unnamed: 0         630
Tree               105
age              32275
circumference     4055
dtype: int64

In [13]:
df.age.value_counts()

118     5
1582    5
1004    5
484     5
1372    5
664     5
1231    5
Name: age, dtype: int64

In [14]:
df.apply(np.mean)

Unnamed: 0        18.000000
Tree               3.000000
age              922.142857
circumference    115.857143
dtype: float64

In [17]:
df.apply(np.mean, axis=1)

0      37.50
1     136.25
2     188.75
3     281.00
4     339.25
5     380.25
6     433.75
7      40.25
8     141.00
9     196.75
10    293.25
11    354.25
12    397.50
13    450.25
14     41.50
15    138.50
16    189.75
17    283.25
18    342.00
19    383.50
20    436.50
21     44.00
22    143.25
23    201.00
24    300.00
25    360.00
26    403.00
27    457.00
28     45.50
29    142.00
30    195.25
31    291.50
32    352.75
33    396.25
34    449.75
dtype: float64

In [18]:
df.apply(np.sum)

Unnamed: 0         630
Tree               105
age              32275
circumference     4055
dtype: int64