# Boilerplate

In [2]:
import pandas as pd 
import pandasql as ps
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sms

from IPython.display import display
from IPython.display import Markdown as md
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

def f():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)
    
def nf():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', 4)

import warnings
warnings.filterwarnings('ignore')

def dp(df, r = 5, c = None):
    from IPython.display import display
    with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
        display(df)

def fg(w = 6, h = 4, dpi = 120):
    plt.rcParams['figure.figsize'] = (w,h)
    plt.rcParams['figure.dpi'] = dpi
fg()

%load_ext autoreload
%autoreload 2

# Load data

In [4]:
df = pd.read_csv('data/catalog.csv')

In [5]:
df.shape

(1693, 23)

In [6]:
df

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Ch√¢teauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688,7535,12/7/15,NaN,NaN,United States,US,North Carolina,1646,Tryon,7.80866,...,"(35.221899999999998, -82.322599999999994)",Landslide,Rockfall,Small,NaN,NaN,0.0,0.0,Tryon Daily Bulletin,http://www.tryondailybulletin.com/2016/02/26/u...
1689,7537,2/22/16,0:00,NaN,United States,US,West Virginia,51400,Charleston,6.84721,...,"(38.398699999999998, -81.584800000000001)",Landslide,Mudslide,Small,Unknown,NaN,0.0,0.0,Charleston Gazette,http://www.wvgazettemail.com/news/20160222/us-...
1690,7539,2/23/16,NaN,NaN,United States,US,West Virginia,2406,Welch,14.19735,...,"(37.409599999999998, -81.4268)",Landslide,Landslide,Small,Rain,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/officials-cautio...
1691,7540,2/26/16,21:06,NaN,United States,US,West Virginia,1048,Athens,12.00678,...,"(37.501100000000001, -81.109300000000005)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/rockslide-snarls...
1692,7541,3/2/16,8:00,NaN,United States,US,Vermont,2066,Windsor,1.78429,...,"(43.4771, -72.406599999999997)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Valley News,http://www.vnews.com/home/21353539-95/loose-ledge

In [8]:
df.dtypes

id                        int64
date                     object
time                     object
continent_code           object
country_name             object
country_code             object
state/province           object
population                int64
city/town                object
distance                float64
location_description     object
latitude                float64
longitude               float64
geolocation              object
hazard_type              object
landslide_type           object
landslide_size           object
trigger                  object
storm_name               object
injuries                float64
fatalities              float64
source_name              object
source_link              object
dtype: object

In [12]:
df.date

0        3/2/07
1       3/22/07
2        4/6/07
3       4/14/07
4       4/15/07
         ...
1688    12/7/15
1689    2/22/16
1690    2/23/16
1691    2/26/16
1692     3/2/16
Name: date, Length: 1693, dtype: object

In [18]:
df['date_b'] = pd.to_datetime(df.date, format = '%m/%d/%y')

In [19]:
df.dtypes

id                               int64
date                            object
time                            object
continent_code                  object
country_name                    object
country_code                    object
state/province                  object
population                       int64
city/town                       object
distance                       float64
location_description            object
latitude                       float64
longitude                      float64
geolocation                     object
hazard_type                     object
landslide_type                  object
landslide_size                  object
trigger                         object
storm_name                      object
injuries                       float64
fatalities                     float64
source_name                     object
source_link                     object
date_b                  datetime64[ns]
dtype: object

In [21]:
df.date_b

0      2007-03-02
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date_b, Length: 1693, dtype: datetime64[ns]

In [35]:
df['dateint'] = df.date_b.dt.strftime('%Y%m%d')

In [36]:
df.dateint

0       20070302
1       20070322
2       20070406
3       20070414
4       20070415
          ...
1688    20151207
1689    20160222
1690    20160223
1691    20160226
1692    20160302
Name: dateint, Length: 1690, dtype: object

In [37]:
df.dateint.isna().sum()

0

In [43]:
df.dateint.dtypes

dtype('O')

In [48]:
df.dateint = df.dateint.astype(int)

In [49]:
df.dateint

0       20070302
1       20070322
2       20070406
3       20070414
4       20070415
          ...
1688    20151207
1689    20160222
1690    20160223
1691    20160226
1692    20160302
Name: dateint, Length: 1690, dtype: int32

In [50]:
df.to_csv('data/cat2.csv', index = False)

# Save as parquet

In [22]:
df.to_parquet('data/catalog.parquet')

# another fucking file everything is fucked up

In [60]:
data = pd.DataFrame()

In [61]:
data['anomesdia'] = pd.date_range(start = '01/01/2020', 
                                  end = '31/12/2021',
                                  freq = 'D')

In [62]:
data.anomesdia.shape

(731,)

In [63]:
data['inteiro'] = data.anomesdia.dt.strftime('%Y%m%d').astype(int)

In [67]:
data.to_csv('data/datas.csv', index=False)

In [68]:
data.dtypes

anomesdia    datetime64[ns]
inteiro               int32
dtype: object

In [69]:
data

     anomesdia   inteiro
0   2020-01-01  20200101
1   2020-01-02  20200102
2   2020-01-03  20200103
3   2020-01-04  20200104
4   2020-01-05  20200105
..         ...       ...
726 2021-12-27  20211227
727 2021-12-28  20211228
728 2021-12-29  20211229
729 2021-12-30  20211230
730 2021-12-31  20211231

[731 rows x 2 columns]

# Queries

In [70]:
q = '''
select inteiro from datas;

select now() as right_now, date_add(now(), interval 3 weeks) as in_3_weeks;

select
-- converts bigint yyyyMMdd to string, then to unix_timestamp than to
string readable date in unixtime
from_unixtime(unix_timestamp(cast(inteiro as string), 'yyyyMMdd'),
'yyyyMMdd') as _data
-- input: bigint yyyyMMdd; action: subtracts three months: returns:
string yyyyMMdd
,from_timestamp(date_sub(cast(from_unixtime(unix_timestamp(cast(inteiro
as string), 'yyyyMMdd'))
as timestamp), interval 3 months), 'yyyyMMdd') as shift_left3
-- input: bigint yyyyMMdd; action: subtracts three months: returns:
bigint yyyyMMdd
,cast(from_timestamp(date_sub(cast(from_unixtime(unix_timestamp(cast(inteiro
as string), 'yyyyMMdd'))
as timestamp), interval 3 months), 'yyyyMMdd') as bigint) as shift_left3
,date_sub(cast(from_unixtime(unix_timestamp(cast(inteiro as string),
'yyyyMMdd'))
as timestamp), interval 3 months) as shift_left3_aux
,unix_timestamp(cast(inteiro as string), 'yyyyMMdd') as _unix_timestamp
,from_unixtime(unix_timestamp(cast(inteiro as string), 'yyyyMMdd')) as _unixtime
,cast(from_unixtime(unix_timestamp(cast(inteiro as string),
'yyyyMMdd')) as timestamp) as _stringtimestamp
,date_sub(cast(from_unixtime(unix_timestamp(cast(inteiro as string),
'yyyyMMdd'))
as timestamp), interval 3 months) as shift_left3
,typeof(from_unixtime(unix_timestamp(cast(inteiro as string),
'yyyyMMdd'))) as _typeofunixtime
,typeof(from_unixtime(unix_timestamp(cast(inteiro as string),
'yyyyMMdd'), 'yyyyMMdd')) as _typeofunixtimestr
from
datas;
'''