In [1]:
import saspy

In [6]:
import pandas as pd

In [2]:
sas = saspy.SASsession(cfgname='default')

SAS Connection established. Subprocess id is 5204

In [16]:
df = pd.read_sas('data/sales_save.sas7bdat')

In [17]:
df.head()

      Name  Sales_1  Sales_2  Sales_3  Sales_4  total
0  b'Greg'     10.0      2.0     40.0      0.0   52.0
1  b'John'     15.0      5.0     10.0    100.0  130.0
2  b'Lisa'     50.0     10.0     15.0     50.0  125.0
3  b'Mark'     20.0      0.0      5.0     20.0   45.0